<div id="floatmenu_expanse">
    <div id="floatmenu">
        <ul id="nav">
			<li class="icon-home"><a href="{U_INDEX}" title="{L_HOME}" accesskey="h">{L_HOME}</a></li>
			<li class="icon-topicality"><a href="#" style="cursor:default;" onclick="return false;" title="{L_TOPICALITY_EXPLAIN}">{L_TOPICALITY}</a>
				<ul>
					<li><a href="{U_NEW_TOPIC}" title="{L_NEW_TOPIC_EXPLAIN}" class="newTopicLink"><img src="{T_THEME_PATH}/images/icon_new_topic.png" alt="{L_NEW_TOPIC}" /> {L_NEW_TOPIC}</a></li>
					<li class="newTopicListItem" style="background-color:#EBEADD; border:1px solid navy; padding:2px; color:navy; display:none;"><strong>To Create a New Topic:</strong><br />First, go to the forum you'd like to create a topic in.<br />Then, click the <em>New Topic</em> button.</li>
					<!-- IF S_DISPLAY_SEARCH -->
					<li><a href="{U_SEARCH_UNANSWERED}"><img src="{T_THEME_PATH}/images/icon_unanswered_posts.png" alt="{L_SEARCH_UNANSWERED}" /> {L_SEARCH_UNANSWERED}</a></li>
					<!-- IF S_USER_LOGGED_IN -->
					<li><a href="{U_SEARCH_UNREAD}"><img src="{T_THEME_PATH}/images/icon_unread_posts.png" alt="{L_SEARCH_UNREAD}" /> {L_SEARCH_UNREAD}</a></li>
					<li><a href="{U_SEARCH_NEW}"><img src="{T_THEME_PATH}/images/icon_new_posts.png" alt="{L_SEARCH_NEW}" /> {L_SEARCH_NEW}</a>
					<!-- ENDIF -->
					<li><a href="{U_SEARCH_ACTIVE_TOPICS}"><img src="{T_THEME_PATH}/images/icon_active_topics.png" alt="{L_SEARCH_ACTIVE_TOPICS}" /> {L_SEARCH_ACTIVE_TOPICS}</a></li>
					<!-- ENDIF -->
                    <!-- IF not S_IS_BOT -->
                    <li><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_search.png" alt="{L_SEARCH_ADV_EXPLAIN}" /> {L_SEARCH}</a></li>
                    <!-- ENDIF -->
				</ul>
			</li>
			<li class="icon-gallery"><a href="{U_GALLERY_MOD}" title="{L_GALLERY_EXPLAIN}">{L_GALLERY}</a>
				<ul>
                	<li><a href="http://www.astrosafari.com/gallery2.php"><img src="{T_THEME_PATH}/images/icon_gallery_old.png" alt="{L_GALLERY_OLD}" />{L_GALLERY_OLD}</a>
                    	<ul>
                        	<li><a href="http://www.astrosafari.com/gallery2.php"><img src="http://www.astrosafari.com/gallery/images/galleryLogo_sm.gif" alt="{L_GALLERY_OLD}" /><br /><strong>{L_GALLERY_OLD_DESC}</strong><br />{L_GALLERY_OLD_EXPLAIN}</a></li>
                        </ul>
                    </li>
					<li class="dashed_top"><a href="{U_G_SEARCH_RECENT}"><img src="{T_THEME_PATH}/images/icon_gallery_recent_images.png" alt="{L_VIEW_SEARCH_RECENT}" /> {L_VIEW_SEARCH_RECENT}</a></li>
					<li><a href="{U_G_SEARCH_RANDOM}"><img src="{T_THEME_PATH}/images/icon_gallery_random_images.png" alt="{L_VIEW_SEARCH_RANDOM}" /> {L_VIEW_SEARCH_RANDOM}</a></li>
					<li><a href="{U_G_SEARCH_COMMENTED}"><img src="{T_THEME_PATH}/images/icon_gallery_recent_comments.png" alt="{L_VIEW_SEARCH_COMMENTED}" /> {L_VIEW_SEARCH_COMMENTED}</a></li>
					<li><a href="{U_G_SEARCH_TOPRATED}"><img src="{T_THEME_PATH}/images/icon_gallery_top_rated.png" alt="{L_VIEW_SEARCH_TOPRATED}" /> {L_VIEW_SEARCH_TOPRATED}</a></li>
					<!-- IF U_G_SEARCH_CONTESTS -->
                    <li><a href="{U_G_SEARCH_CONTESTS}"><img src="{T_THEME_PATH}/images/icon_gallery_contest_winners.png" alt="{L_VIEW_SEARCH_CONTESTS}" /> {L_VIEW_SEARCH_CONTESTS}</a></li>
                    <!-- ENDIF -->
                    <li><a href="{U_G_SEARCH}"><img src="{T_THEME_PATH}/images/icon_gallery_search.png" alt="{L_GALLERY_SEARCH}" /> {L_GALLERY_SEARCH}</a></li>
					<li><a href="{U_USERS_PERSONAL_GALLERIES}"><img src="{T_THEME_PATH}/images/icon_gallery_user_albums.png" alt="{L_VIEW_USER_ALBUMS}" /> {L_VIEW_USER_ALBUMS}</a></li>
					<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
					<!-- IF U_YOUR_PERSONAL_GALLERY -->
					<li class="dashed_top"><a href="{U_YOUR_PERSONAL_GALLERY}"><img src="{T_THEME_PATH}/images/icon_gallery_photos.png" alt="{L_YOUR_PHOTOS}" /> {L_YOUR_PHOTOS}</a></li>
					<!-- ELSE -->
					<li class="dashed_top"><a href="{U_MANAGE_PHOTOS}"><img src="{T_THEME_PATH}/images/icon_gallery_photos.png" alt="{L_YOUR_PHOTOS}" /> <span style="text-decoration:line-through; text-decoration:blink; cursor:help;" title="{L_NO_PHOTOS}">{L_YOUR_PHOTOS}</span></a></li>
					<!-- ENDIF -->
					<li><a href="{U_G_SEARCH_SELF}"><img src="{T_THEME_PATH}/images/icon_gallery.gif" alt="{L_VIEW_SEARCH_SELF}" /> {L_VIEW_SEARCH_SELF}</a></li>
					<li><a href="{U_G_MANAGE_PHOTOS}" title="{L_MANAGE_PHOTOS} Your Photos"><img src="{T_THEME_PATH}/images/icon_gallery_manage_photos.png" alt="{L_MANAGE_PHOTOS} Photos" /> {L_MANAGE_PHOTOS} photos</a></li>
					<!-- ENDIF -->
				</ul>
			</li>
			<!-- IF S_MCHAT_ENABLE and U_MCHAT -->
            <li class="icon-shop-talk"><a href="{U_MCHAT}" title="{L_MCHAT_TITLE}">{L_MCHAT_TITLE}</a></li>
            <!-- ENDIF -->
            <li class="icon-about"><a href="{U_ABOUT}" title="{L_ABOUT_EXPLAIN}">{L_ABOUT}</a>
            	<ul>
					<li><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_faq.png" alt="{L_FAQ}" /> {L_FAQ}</a></li>
                    <li><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_members.png" alt="{L_MEMBERLIST}" /> {L_MEMBERLIST}</a></li>
                    <li><a href="{U_RANKS}" title="{L_RANKS_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_ranks.gif" alt="{L_RANKS}" /> {L_RANKS}</a></li>
                    <li><a href="{U_GROUPS}" title="{L_GROUPS_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_groups.png" alt="{L_GROUPS}" /> {L_GROUPS}</a></li>
                    <!-- IF U_TEAM -->
                    <li><a href="{U_TEAM}" title="{L_THE_TEAM_EXPLAIN}"><img src="{T_THEME_PATH}/images/icon_team.png" alt="{L_THE_TEAM}" /> {L_THE_TEAM}</a></li>
                    <!-- ENDIF -->
                    <!-- IF U_ACP or U_MCP -->
                    <li class="dashed_top"><a href="http://www.astrosafari.com/viewforum.php?f=124" title="Staff Room"><img src="{T_THEME_PATH}/images/icon_staff_room.png" alt="Staff Room" /> The ATTIC</a></li>
                    <!-- ENDIF -->
                </ul>
            </li>
            <li class="icon-contact"><a href="mailto:support@astrosafari.com">Contact Us</a></li>
            
	        <!-- IF not S_IS_BOT and not S_USER_LOGGED_IN -->
			<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<li class="icon-register" style="float:right;"><a href="{U_REGISTER}">{L_REGISTER}</a></li>
			<!-- ENDIF -->
            <li class="icon-login" style="float:right;"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
            <!-- ENDIF -->
            <!-- IF S_USER_LOGGED_IN -->
            <li class="icon-logout" style="float:right;"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l">{L_LOGIN_LOGOUT}</a></li>
            <!-- ENDIF -->
            
<!--
            <li><a href="#">Multi-Levels</a>
				<ul>
	                <li><a href="#">Sub-Level 01</a></li>
                    <li><a href="#">Sub-Level 01</a></li>
                    <li><a href="#">Sub-Level 01 >></a>
                        <ul>
                            <li><a href="#">Sub-Level 02</a></li>
                            <li><a href="#">Sub-Level 02</a></li>
                            <li><a href="#">Sub-Level 02 >></a>
                                <ul>
                                    <li><a href="#">Sub-Level 03</a></li>
                                    <li><a href="#">Sub-Level 03</a></li>
                                    <li><a href="#">Sub-Level 03</a></li>
								</ul>
                            </li>
                            <li><a href="#">Sub-Level 02</a></li>
                            <li><a href="#">Sub-Level 02</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sub-Level 01</a></li>
                    <li><a href="#">Sub-Level 01</a></li>
                </ul>
            </li>
//-->
        </ul>
	</div>
</div>