<!-- IF S_IN_BOARD_INDEX and not S_IS_BOT-->
<div class="topic-actions">
	<small>{L_NEW_TOPIC_EXPLAIN}</small>
    <div class="buttons" style="margin-bottom:6px;">
        <div class="post-icon" title="{L_POST_TOPIC}">
        	<a href="{U_POST_NEW_TOPIC}" class="newTopicButton"><span></span>{L_POST_TOPIC}</a>
        </div>
        <br />
        <div class="newTopicToggle" style="background-color:#ebeadd; border:1px solid navy; margin:4px 0; padding:2px; color:navy; display:none;">
        	To Create a New Topic:<br />
            <br />
            First,<br />
            Go to the forum category you'd like to create a topic in.<br />
            <br />
            Then,<br />
            Click the <em>New Topic</em> button.
        </div>
    </div>
</div>
<!-- ENDIF -->

<!-- IF S_IN_BOARD_INDEX -->
<!-- INCLUDE gallery/recent_body.html -->
<!-- ENDIF -->

<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <table class="table1" cellspacing="1">
            <thead>
                <tr>
                    <th colspan="2">{L_SPONSORS}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="panel">
                    <td style="text-align:center;">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-4089785947373898";
                        /* astrosafari.com col2 skyscraper */
                        google_ad_slot = "4715234996";
                        google_ad_width = 120;
                        google_ad_height = 600;
                        //-->
                        </script>
                        <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </td>
                </tr>
        	</tbody>
        </table>
    <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE mchat_stats.html -->

<!-- IF not S_IS_BOT -->
<div style="margin-left:4px;">

<!-- IF S_IN_BOARD_INDEX -->
    <!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
        <h3>{L_BIRTHDAYS}</h3>
        <p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
    <!-- ENDIF -->
    
    <!-- IF NEWEST_USER -->
        <h3>{L_STATISTICS}</h3>
        <p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS}<!-- IF TOTAL_IMAGES --> &bull; {TOTAL_IMAGES}<!-- ENDIF --> &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
    <!-- ENDIF -->
    
    <!-- IF S_DISPLAY_ONLINE_LIST -->
        <!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
        <p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}</p>
    <!-- ENDIF -->
<!-- ENDIF -->

</div>
<!-- ENDIF -->






















<!-- IF TURNED_OFF and S_IN_BOARD_INDEX -->
<div class="forumbg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <ul class="topiclist">
            <li class="header"><dl><dd>FORUMBG</dd></dl></li>
        </ul>
        <div class="panel">
            <h2>Equal height columns</h2>
            <p>It doesn't matter which column has the longest content, the background colour of all columns will stretch down to meet the footer. This feature was traditionally only available with table based layouts but now with a little CSS trickery we can do exactly the same with divs. Say goodbye to annoying short columns!</p>
		</div>
    <span class="corners-bottom"><span></span></span> </div>
</div>

<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <table class="table1" cellspacing="1">
        <thead>
            <tr>
                <th>FORABG</th>
            </tr>
        </thead>
        <tbody>
            <tr class="panel">
                <td>
                    <h2>No CSS hacks</h2>
                    <p>The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no horizontal padding or margins are used. Instead, this design uses pixel widths and clever relative positioning.</p>
                </td>
            </tr>
        </tbody>
        </table>
    <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
