<!-- IF S_IN_BOARD_INDEX -->
                        <!-- Column 1 end -->
                    </div><!-- col1 -->
                </div><!-- col1wrap -->

				<div class="col2">
                    <!-- Column 2 start -->
                    <!-- INCLUDE overall_side2.html -->
                    <!-- Column 2 end -->
                </div>
                <div class="col3">
                	<!-- Column 3 start -->
                    <!-- INCLUDE overall_side3.html -->
                    <!-- Column 3 end -->
                </div>

            </div><!-- colleft -->
        </div><!-- colmid -->
	</div><!-- colmask holygrail -->
<!-- ELSE -->
                    <!-- Column 1 end -->
                </div><!-- col1 -->
            </div><!-- col1wrap -->
            <div class="col2">
                <!-- Column 2 start -->
                <!-- INCLUDE overall_side3.html -->
                <!-- Column 2 end -->
            </div>
        </div><!-- colleft -->
    </div><!-- colmask rightmenu -->
<!-- ENDIF -->

</div><!-- page-body -->

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="copyright">
		Copyright&copy; 2002-{CURRENT_YEAR}	{SITENAME} - a <a href="http://whoa.co" title="Whoa.Co Entrepreneurial Web Ventures">Whoa.Co</a> venture. All rights reserved.<br />
        Powered by phpBB&reg; Forum Software.<br />
		<div>
            <a href="http://the.gasscooter.co" title="The Gas Scooter Company - Cheap Gas Scooters with Free Shipping!">Gas Scooters</a> &bull; 
            <a href="http://www.silveradosierra.com" title="Chevy Silverado and GMC Sierra truck specific community.">Silverado/Sierra Truck Forum</a> &bull; 
            <a href="http://www.electricscooters4u.com" title="ElectricScooters4u.com - Cheap Electric Scooters with Free Shipping!">Electric Scooters</a>
        </div>
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<br /><a href="http://validator.w3.org/check?uri=referer"><img src="{T_IMAGESET_PATH}/w3c_xhtml.png" alt="Valid XHTML 1.0 Strict" /></a>        
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
    
</div><!-- page-footer -->

</div><!-- wrap -->

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script type="text/javascript">
/* Disabled 2/6/2012 and replaced by Skimlinks
  var vglnk = { api_url: '//api.viglink.com/api',
                key: '90c5808fadf50aee75d7a1dd48ac9353' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
             '//cdn.viglink.com/api') + '/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
*/
</script>

<script type="text/javascript" src="http://s.skimresources.com/js/26333X852274.skimlinks.js"></script>

<!-- IF S_VIEWFORUM or S_SHOW_TOPICS or S_VIEWTOPIC -->
    <script type="text/javascript">
    // <![CDATA[
    $(window).load(function() { 
        $("img").each(function(){
            var image = $(this);
            if(image.context.naturalWidth == 0 || image.readyState == 'uninitialized'){
                $(image).unbind("error").attr("src", "{ROOT_PATH}images/broken_image.png");
            }
        });
    });
    // ]]>
    </script>
<!-- ENDIF -->

</body>
</html>