<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt>{L_ALBUM}</dt>
				<dd class="posts">{L_IMAGES}</dd>
				<dd class="g_lastimage" style="padding-left: 5px;"><span>{L_LAST_IMAGE}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row bg3">
			<dl class="icon" style="background-image: url('{T_IMAGESET_PATH}/forum_read_subforum.gif'); background-repeat: no-repeat;">
				<dt>
					<script type="text/javascript"><!--
                    google_ad_client = "ca-pub-4089785947373898";
                    /* astrosafari.com, 468x60, cadceb bg, albumlist_body-GalleryIndex-Top */
                    google_ad_slot = "3276139414";
                    google_ad_width = 468;
                    google_ad_height = 60;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
					<br /><strong>Moderators:</strong> <a href="http://www.astrosafari.com/memberlist.php?mode=viewprofile&u=9603">AstroSafari.com</a>, <a style="color: rgb(170, 0, 0);" href="http://www.astrosafari.com/memberlist.php?mode=group&g=5">Administrators</a>
				</dt>
				<dd class="posts">134 <dfn>{L_IMAGES}</dfn></dd>
				<dd class="g_lastimage" style="padding-left: 5px;"><span>
					<span style="float: left; text-align: center; width: 70px; padding-right: 5px;"><img src="{T_IMAGES_PATH}/icons/gallery/road.png" style="max-width:70px; max-height:70px;" alt="" /></span>
					<dfn>{L_LAST_IMAGE}</dfn> <a href=""><span style="font-weight: bold;">GMC Safari Image 009</span></a><br />
					by <a href="http://www.astrosafari.com/memberlist.php?mode=viewprofile&u=9603">AstroSafari.com</a> <img src="{T_IMAGESET_PATH}/icon_topic_latest.gif" alt="View the latest image" title="View the latest image" width="11" height="9"><br />
					Feb 13 2013, 7:32am</span>
				</dd>
			</dl>
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- BEGIN albumrow -->
	<!-- IF (albumrow.S_IS_CAT and not albumrow.S_FIRST_ROW) or albumrow.S_NO_CAT -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF albumrow.S_IS_CAT or albumrow.S_FIRST_ROW or albumrow.S_NO_CAT  -->
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><!-- IF albumrow.S_IS_CAT --><a href="{albumrow.U_VIEWALBUM}">{albumrow.ALBUM_NAME}</a><!-- ELSE -->{L_ALBUM}<!-- ENDIF --></dt>
						<dd class="posts">{L_IMAGES}</dd>
						<dd class="g_lastimage" style="padding-left: 5px;"><span>{L_LAST_IMAGE}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not albumrow.S_IS_CAT -->
		<li class="row">
			<dl class="icon" style="background-image: url({albumrow.ALBUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{albumrow.ALBUM_FOLDER_IMG_ALT}">
					<!-- IF albumrow.ALBUM_IMAGE --><span class="forum-image"><img src="{T_IMAGES_PATH}{albumrow.ALBUM_IMAGE}" alt="{albumrow.ALBUM_NAME}" /></span><!-- ENDIF -->
					<!-- IF albumrow.ALBUM_NAME == "Users Personal Albums" --><span class="forum-image"><img src="{T_IMAGES_PATH}icons/gallery/user_albums.png" alt="{albumrow.ALBUM_NAME}" /></span><!-- ENDIF -->
					<a href="{albumrow.U_VIEWALBUM}" class="forumtitle"<!-- IF S_PERSONAL_GALLERY and albumrow.ALBUM_COLOUR --> style="color: {albumrow.ALBUM_COLOUR};"<!-- ENDIF -->>{albumrow.ALBUM_NAME}</a><br />
					{albumrow.ALBUM_DESC}
					<!-- IF albumrow.MODERATORS --><br /><strong>{albumrow.L_MODERATOR_STR}:</strong> {albumrow.MODERATORS}<!-- ENDIF -->
					<!-- IF albumrow.SUBALBUMS and albumrow.S_LIST_SUBALBUMS --><br /><strong>{albumrow.L_SUBALBUM_STR}</strong> {albumrow.SUBALBUMS}<!-- ENDIF -->
				</dt>
				<dd class="posts">{albumrow.IMAGES} <!-- IF albumrow.UNAPPROVED_IMAGES --> + <span class="reported-images-number">{albumrow.UNAPPROVED_IMAGES}</span><!-- ENDIF --> <dfn>{L_IMAGES}</dfn></dd>
				<dd class="g_lastimage" style="padding-left: 5px;"><span>
					<!-- IF albumrow.LAST_IMAGE_TIME -->
					<!-- IF albumrow.UC_FAKE_THUMBNAIL --><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{albumrow.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
					<dfn>{L_LAST_IMAGE}</dfn> {albumrow.UC_IMAGE_NAME}<br />
					{L_POST_BY_AUTHOR} {albumrow.LAST_USER_FULL} {albumrow.UC_LASTIMAGE_ICON}<br />
					{albumrow.LAST_IMAGE_TIME}<!-- ELSE -->{L_NO_IMAGES}<!-- ENDIF --></span>
				</dd>
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF albumrow.S_LAST_ROW -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_ALBUMS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END albumrow -->